<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js" crossorigin></script>
    <link rel="stylesheet" href="css/main.css" />
    <title>Password Genie by ERTO</title>

</head>

<body>
    <div id="app">
        <section class="wrapper">   
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 454 345.27"><defs><style>.cls-1{fill:#EE5622;}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M230.91.35a21.92 21.92 0 00-7.82 0L3.91 48.11A5.2 5.2 0 000 53v239.3a3.07 3.07 0 003.9 3.12l218.76-49.17a21.45 21.45 0 017.81 0L379.39 279a3.08 3.08 0 003.91-3.14V109.71a5.11 5.11 0 00-3.92-4.79l-28.13-5.69a3.15 3.15 0 00-3.92 3.21v130.87a3 3 0 01-3.89 3.07L319 230.56a5.33 5.33 0 01-3.89-4.93V95.16a5.15 5.15 0 00-3.92-4.82l-26.9-5.63a3.12 3.12 0 00-3.92 3.18V218a3.11 3.11 0 01-3.91 3.17l-28.15-6a5.18 5.18 0 01-3.91-4.83V78.46a5.19 5.19 0 00-3.91-4.85l-9.18-2a21.75 21.75 0 00-7.81 0L74.61 104.84a5.23 5.23 0 00-3.9 4.87v26.92a3.09 3.09 0 003.91 3.14l131.12-28.83a3.09 3.09 0 013.91 3.14V141a5.22 5.22 0 01-3.91 4.86L74.61 174.68a5.22 5.22 0 00-3.91 4.86v26.92a3.09 3.09 0 003.91 3.14l131.12-28.83a3.09 3.09 0 013.91 3.14v26.39a5.22 5.22 0 01-3.91 4.86L39.88 251.79a3.08 3.08 0 01-3.88-3.14V82.06a5.18 5.18 0 013.91-4.83l183.2-39.07a22.41 22.41 0 017.82 0l183.2 39.07a5.18 5.18 0 013.87 4.83v201.5a5.11 5.11 0 003.92 4.79l28.16 5.65a3.15 3.15 0 003.92-3.21V53a5.2 5.2 0 00-3.91-4.85z"/><path class="cls-1" d="M226.62 344.92a22.15 22.15 0 007.82 0L375 314.6c2.15-.46 2.15-1.24 0-1.72l-142-31.72a21.15 21.15 0 00-7.8 0L86 312.87c-2.15.49-2.14 1.27 0 1.73z"/></g></g></svg>
          <h1>Password Genie by ERTO</h1>
          <div class="password-box">
            <span id="password" class="password" v-on:click="copyToClipboard">{{ password }}</span>
            <span class="regenerate-password" v-on:click="generatePassword"></span>
            <span class="copy-password" v-on:click="copyToClipboard"></span>
            <span class="tooltip" v-if="copied">Password copied successfuly!</span>
          </div>
          <form @keydown.enter.prevent="">
            <div class="field-wrap">
              <label>Strength</label>
              <span class="range-value">{{strength.text}}</span>
              <div class="range-slider_wrapper slider-strength" v-bind:class="strength.text">
                <span class="slider-bar" v-bind:style="{ width: strength.score + '%' }"></span>
                <input type="range" class="range-slider" min="0" max="100" v-model="strength.score" disabled>
              </div>  
            </div>
            <div class="seperator"></div>
            <div class="field-wrap">
              <label>Length</label>
              <span class="range-value">{{settings.length}}</span>
              <div class="range-slider_wrapper">
                <span class="slider-bar" v-bind:style="{ width: lengthThumbPosition + '%' }"></span>
                <input type="range" class="range-slider" min="6" v-bind:max="settings.maxLength" v-model="settings.length">
              </div>  
            </div>
            <div class="field-wrap">  
              <label>Digits</label>
              <span class="range-value">{{settings.digits}}</span>
              <div class="range-slider_wrapper">
                <span class="slider-bar"  v-bind:style="{ width: digitsThumbPosition + '%' }"></span>
                <input type="range" class="range-slider" min="0" v-bind:max="settings.maxDigits" v-model="settings.digits">
              </div>  
            </div>
            <div class="field-wrap">  
              <label>Symbols</label>
              <span class="range-value">{{settings.symbols}}</span>
              <div class="range-slider_wrapper">
                <span class="slider-bar"  v-bind:style="{ width: symbolsThumbPosition + '%' }"></span>
                <input type="range" class="range-slider" min="0" v-bind:max="settings.maxSymbols" v-model="settings.symbols">
              </div>  
            </div>
          </form>
        </section>
      </div>

      <script src="js/index.js"></script>
    
</body>

</html>
